.getlatestdoc
{
}

.getlatestdoc .scrollableList
{
   padding: 8px 8px;
}

#getlatestdoc_item{
        border-bottom: 1px dashed #E9E9E9;
}
#getlatestdoc_item_afb{
        float:left;
        margin:5px 12px 10px 5px;
}
#getlatestdoc_item_info{
        padding-left:5px;
	padding-top:12px;
	padding-bottom:15px;
}

.getlatestdoc_toolbar{
	min-height:28px;
	padding: 5px 9px 1px;
	line-height:23px;
	background-color:#F6F6F6;
	border-bottom:1px solid lightGrey;
}

